name: Android Appium Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  android-appium:
    runs-on: ubuntu-latest
    env:
      JAVA_HOME: /opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/17.0.17-10/x64
      ANDROID_HOME: ${{ github.workspace }}/android-sdk
      ANDROID_SDK_ROOT: ${{ github.workspace }}/android-sdk
      ANDROID_AVD_HOME: ${{ github.workspace }}/.android/avd
      PATH: ${{ github.workspace }}/android-sdk/cmdline-tools/latest/bin:${{ github.workspace }}/android-sdk/platform-tools:${{ env.PATH }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip tar wget qemu-kvm libvirt-daemon-system libvirt-clients bridge-utils virt-manager

      - name: Setup Android SDK
        run: |
          mkdir -p $ANDROID_HOME/cmdline-tools
          cd $ANDROID_HOME/cmdline-tools
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
          unzip -q cmdline-tools.zip
          mv cmdline-tools latest
          yes | sdkmanager --licenses
          sdkmanager --install "platform-tools" "emulator" "platforms;android-33" "system-images;android-33;google_apis;x86_64"

      - name: Create Android Emulator
        run: |
          echo no | avdmanager create avd -n test -k "system-images;android-33;google_apis;x86_64" --force
          echo "hw.cpu.ncore=2" >> $ANDROID_AVD_HOME/test/config.ini
          echo "hw.ramSize=2048" >> $ANDROID_AVD_HOME/test/config.ini
          echo "disk.dataPartition.size=2G" >> $ANDROID_AVD_HOME/test/config.ini

      - name: Start Emulator
        run: |
          nohup emulator -avd test -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect &
          echo "Waiting for emulator to boot..."
          $ANDROID_HOME/platform-tools/adb wait-for-device
          $ANDROID_HOME/platform-tools/adb shell input keyevent 82
          $ANDROID_HOME/platform-tools/adb shell getprop sys.boot_completed | grep "1"

      - name: Run Java + Appium tests
        run: |
          ./gradlew clean test

      - name: Stop Emulator
        if: always()
        run: |
          export PATH=$ANDROID_HOME/platform-tools:$PATH
          adb -s emulator-5554 emu kill
