name: Run Java Selenium + Appium Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  android-emulator-tests:
    runs-on: ubuntu-latest
    env:
      ANDROID_HOME: ${{ github.workspace }}/android-sdk
      ANDROID_AVD_HOME: ${{ github.workspace }}/.android/avd
      JAVA_HOME: /opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/17.0.17-10/x64
      PATH: ${{ github.workspace }}/android-sdk/emulator:${{ github.workspace }}/android-sdk/tools/bin:${{ github.workspace }}/android-sdk/platform-tools:$PATH

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install essential packages
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget tar lib32stdc++6 lib32z1 qemu-kvm
          hash -r
          which tar
          tar --version

      - name: Setup Android SDK
        run: |
          mkdir -p $ANDROID_HOME/cmdline-tools
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
          unzip cmdline-tools.zip -d $ANDROID_HOME/cmdline-tools
          rm cmdline-tools.zip
          yes | $ANDROID_HOME/cmdline-tools/cmdline-tools/bin/sdkmanager --licenses
          $ANDROID_HOME/cmdline-tools/cmdline-tools/bin/sdkmanager "platform-tools" "emulator" "platforms;android-33" "system-images;android-33;google_apis;x86_64"

      - name: Create and start emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          target: google_apis
          arch: x86_64
          force-avd-creation: true
          emulator-options: -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect
          script: |
            adb wait-for-device
            adb shell input keyevent 82
            echo "Emulator started"
          cores: 2
          avd-name: test
          emulator-boot-timeout: 600
          disable-animations: true
          disable-linux-hw-accel: true

      - name: Start Appium server
        run: |
          npm install -g appium
          appium &

      - name: Run Java tests
        run: |
          ./gradlew clean test
